.popular-swiper-navi-con div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 34px;
    width: 34px;
    outline: none;
    color: #161925;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    z-index: 3;
    transition: all .21s ease-in-out;
}
.popular-swiper-navi-con div::after{
    font-size: 13px !important;
}